body{
    margin: 0px;
    box-sizing: border-box;
}

.header{
    height: 15vh;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ticket-filter{
    background: #4b4b4b;
    min-height: 60%;
    min-width: 21%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.filter{

min-width: 12%;

min-height: 23px;

border-radius: 6px;
}



.ticket-actions{

min-width: 8%;

min-height: 60%;

background: #4b4b4b;

border-radius: 5px;

display: flex;

align-items: center;

justify-content: space-evenly;
}

.open-model{

min-width: 40%;

min-height: 27px;
border-radius: 3px;
}
.close-ticket{

min-width: 40%;

min-height: 27px;
border-radius: 3px;
}
.ticket-container{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: #b2bec3;
    padding: 2rem;
    flex-wrap: wrap;
}

.fas{
    color: white;
    margin: 12px;
    margin-left: 15px;
}

.open-model:hover{
    background-color: #3d3d3d;
}

.close-ticket:hover{
    background-color: #3d3d3d;
}

.filter{
    opacity: 0.7;
}

.filter:hover{
    opacity: 1;
}

.modal{

/* border: 1px solid; */

min-width: 30%;

min-height: 250px;

display: flex;

justify-content: flex-end;

align-items: center;

outline: none;

background: lightgoldenrodyellow;

position: absolute;

width: 30rem;

top: 17rem;

left: calc((100vw - 30rem)/2);
}

.modal-content{

min-width: 58%;

font-size: 1.5rem;

height: 178px;

padding-left: 2rem;

outline: none;
}

.modal-options{

background: #3d3d3d;

min-width: 32%;

min-height: 251px;

display: flex;

justify-content: center;

align-items: center;

flex-direction: column;
}

.red{

background: #ff4d4d;
}
.yellow{



background: #ffaf40;

}
.green{



background: #3ae374;

}
.blue{

background: #7158e2;
}

.modal-filter{
    min-height: 32px;

    min-width: 46%;
    margin-top: 10px;
    opacity: 0.7;
    transition: transform 0.5s;
}

.modal-filter:hover{
    opacity: 1;
    transform: scale(1.2);
}

.ticket{
    width: 23%;
    /* border: solid 1px; */
    height: 170px;
    display: flex;
    flex-direction: column;
    background: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 38px;
}

.ticket-filterbar{
    border-radius: 0px;
    min-height: 17px;
}

.ticket-id{

font-weight: bold;

padding: 5px;
}
.ticket-content{
    word-break: break-all;
    padding: 37px;
}

.active{
    border: solid 2px;
}