* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.video-container {
    background-color: black;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

video {
    height: 100vh;
    width: 92%;
    overflow: hidden;
}

.record-button {
    height: 80px;
    width: 80px;
    border: 4px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.record-button-animation {
    background: red;
    height: 70%;
    width: 70%;
    border-radius: 50%;
}

.click-button {
    height: 80px;
    width: 80px;
    border: 4px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.click-button-animation {
    background: white;
    height: 70%;
    width: 70%;
    border-radius: 50%;
}

.media-control {
    /* background: green; */
    height: 60%;
    width: 8%;
    position: absolute;
    top: 35%;
    right: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.record-animate {
    animation: scaleup 1s infinite;
}

.click-animate {
    animation: scaleup 0.7s 1;
}

@keyframes scaleup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.zoom {
    height: 100px;
    width: 65px;
    background: black;
    position: absolute;
    top: 11%;
    right: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 7px;
}

.in {
    /* background: white; */
    height: 40%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.out {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 70%;
    cursor: pointer;
}

.fas {
}

.gallery-button {
    background-color: black;
    height: 65px;
    width: 65px;
    border: 4px solid white;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controls {
    background: #2b2a2a;
    height: 100vh;
    width: 8%;
}

.gallery-button i {
    color: white;
}
