.header{
    height: 100px;
    background-color: black;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 60%;
    width: 15%;
}

.logo img{
    height: 100%;
    width: 100%;
}

.search-bar{
    
}

.search-bar input{
    background-color: white;
    outline: none;
    width: 200px;
    height: 30px;
    font-size: 1.0rem;
    text-align: center;
}

.header-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.header-link a{
    margin: 10px;
    text-decoration: none;
    color: red;
    /* background-color: blue; */
}